*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #222;
}

main {
  padding: 10px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}