# This is the port our server will be running on
PORT=4000

# This is the URL the server will use for the database. The example is an Atlas URL, but can be anything
MONGODB_URL=mongodb+srv://username:password@...
JWT_SECRET=djflvjsdnlfkjvnsldkjfv